.hero-text {
    text-align: center;
    width: 50%;
    padding: auto;
    margin: 5% auto auto auto;
}

.hero-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 1.625;
    letter-spacing: .05rem;
    padding: auto;
    margin: auto .5rem 1rem .5rem;
}

.hero-text h1  {
    color: #fff;
    line-height: 1.2;
    letter-spacing: .25;
    font-weight: lighter;
    font-size: 4rem;
}

.hero-text button  {
    border-radius: 20px;
    border-style: none;
    width: 30%;
    padding: .5rem;
    height: auto;
    cursor: pointer;
}

.hero-text button:hover  {
    opacity: .8;
}

/* @media only screen and (min-width: 768px) {
    .hero-text {
        transform: translateY(250%);
    }
} */

@media only screen and (max-width: 450px) {
    .hero-text {
        width: 100%;
        margin: 25% auto auto auto;
    }
    .hero-text h1 {
        font-size: 2.5rem;
    }
}

